/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Set a background color and text color for the body */
body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
}

/* Style the header section */
header {
    background-image: url('cover_image.jpg');
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    color: #fff;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Style the navigation menu */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Style the "View Project" button */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

/* Style the Features section */
#features {
    text-align: center;
    padding: 50px 0;    
}

#features h2 {
    margin-bottom: 40px;
}

.feature {
    margin-bottom: 30px;
}

.feature h3 {
    color: rgb(6, 178, 178);
}

.feature img {
    max-width: 100%;
    height: auto;
}

/* Style the About section */
#about {
    background-color: #fff;
    padding: 50px 150px;
    text-align: center;
}

#about h2 {
    margin-bottom: 20px;
}

#about p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #6d6a6a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#about ul {
    list-style: none;
    padding: 0;
    margin: 20px;
}

#about ul li {
    display: inline;
    margin-right: 20px;
}

#about a {
    margin-top: 30px;
}

#contact {
    text-align: center;
    padding: 50px 0;
}

#contact a {
    color: #333;
}

/* Style the video section */
#video {
    text-align: center;
    padding: 50px 0;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
    header {
        padding: 50px 0;
    }
    
    header h1 {
        font-size: 28px;
    }
    
    header p {
        font-size: 16px;
    }
    
    .btn {
        font-size: 14px;
    }
    
    #features {
        padding: 30px 0;
    }
    
    #about {
        padding: 30px 0;
    }
    
    #contact {
        padding: 30px 0;
    }
    
    #video {
        padding: 30px 0;
    }
}
