body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body::before {
    content: '';
    height: 100%;
    float: right;
    width: 3px;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.05), transparent);
}


* {
    font-family: 'Mooli', sans-serif;
    scroll-behavior: smooth;
}

html {
    scroll-padding-top: 100px;
}

.navbar-brand {
    color: aliceblue;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(150, 150, 170, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.off-canvas-navbar {
    background-color: #dcf2f7;
    border-top: inset 72px #356873;
}

body {
    background-color: aliceblue;
    width: 100vw;
}

a {
    text-decoration: none;
}

.fit-content-width-important {
    width: fit-content !important;
}

.modal-backdrop {
    opacity: 0.8 !important;
}

.justify-text {
    text-align: justify
}

.hero-container {
    background-image: url('../images/background-image.webp');
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.hero-container p,
.hero-container h1 {
    color: rgba(7, 7, 61, 0.9);
    font-weight: 600;
}

.cta-button {
    width: fit-content;
    background-color: #ae74de;
    color: aliceblue;
}

.cta-button:hover {
    background-color: transparent;
    border: 1px solid rgb(233, 79, 233);
}

#aboutBox {
    transform: rotate(-3deg);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    text-align: justify;
    width: 60vw;
    color: rgba(7, 7, 61, 0.9);
}

#aboutMeHeader {
    font-size: 2.5rem;
    color: rgba(7, 7, 61, 0.9);
    font-weight: 700;
}

.about-text {
    font-size: 20px;
}

.about-text a {
    text-decoration: underline;
}

.sign-container-inner {
    background-image: url('../images/sign.webp');
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    font-size: 4rem;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    min-height: 200px;
    max-height: 300px;
    max-width: 300px;
}

.sign-text {
    animation: floatingSign 8s infinite;
}

.skills-container-inner {
    width: 90vw;
    background-color: rgba(218, 236, 251, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 10px 20px rgba(0, 0, 0, 0.15),
        0 10px 20px rgba(0, 0, 150, 0.15);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    opacity: 0.9;
    align-items: center;
    animation: floatingRotating 2s infinite;
}

.skills-container-inner {
    width: 85%;
}

#skills-list {
    color: rgb(27, 31, 1);
    line-height: 40px;
    list-style: none;
}

.cv-btn {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.cv-btn:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-cv-btn 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-cv-btn {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.cv-btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

#projects-box {
    max-height: 95vh;
    width: 40vw;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    animation: floatingBouncing 6s infinite;
    position: relative;
    box-shadow: 1px 3px 4px rgb(238, 1, 238, 0.3);
    z-index: 1;
    right: 26vw;
    border-radius: 150x;
}

.project-box {
    box-shadow: 0px 3px 10px rgba(0, 0, 255, 0.1);
    border-radius: 10px;
}

.projects-title {
    font-size: 2.3rem;
    position: sticky;
    z-index: 1;
    top: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.project-box h6 {
    color: #3f14ac;
    font-weight: 600;
}

.project-btn {
    color: aliceblue;
    background-color: #6428fc;
    width: fit-content;
}


.project-btn:hover {
    background-color: transparent;
    border: 1px solid rgb(233, 79, 233);
}

.status {
    width: 40vw;
    border-radius: 15px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-image: url("../images/aaron_drillbotics.webp");
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 43vw;
    margin-top: 70px;
    border-right: 7px solid #6428fc;
}

.status-container-inner {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.80);
    color: rgba(240, 248, 255, 0.477);
    font-weight: lighter;
}

.status-title {
    color: #6428fc;
    font-weight: 600;
}

.gallery-outter {
    height: 350px;
}

.gallery {
    width: 300px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate-gallery 35s linear infinite;
}

@keyframes rotate-gallery {
    from {
        transform: perspective(1200px) rotateY(0deg);
    }

    to {
        transform: perspective(1200px) rotateY(360deg);
    }
}

.gallery span {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(380px);
}

.gallery span img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials-container {
    background-image: url('../images/cover_image.webp');
    background-size: cover;
    background-position: center;
    max-height: 90vh;
    box-shadow: 0px 0px 10px rgba(50, 100, 0, 0.8);
}

.testimonials-container-inner {
    background-color: rgba(0, 0, 0, 0.7);
    color: #f5f5f5a0;
    font-size: medium;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    overflow: auto;
    scrollbar-width: none;
    max-width: 90vw;
    -ms-overflow-style: none;
}

.testimonials-container-inner:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.testimonial {
    box-shadow: 8px 5px rgba(0, 0, 0, 0.5);

}

.testimonial div {
    width: 75%;
}


.testimonial div div {
    color: aqua;
}

.testimonial div h3 {
    color: rgb(208, 223, 236);
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.88);
}

.testimonial img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.88);
}

.footer {
    color: aliceblue;
}

#contact-container {
    box-shadow: 0px 3px 10px rgba(0, 0, 255, 0.1);
}

.contact-list {
    list-style: none;
    gap: 20px;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .hero-container {
        height: 37vh;
    }

    #aboutBox {
        width: 80vw;
    }

    .skills-container-inner {
        width: 100%;
    }

    #projects-box {
        width: 45vw;
        max-height: 75vh;
    }

    .testimonials-container {
        max-height: 60vh;
    }

    .status {
        right: 15vw;
    }
}

@media (max-width: 767px) {
    .hero-container {
        height: 25vh;
    }

    .hero-container h1 {
        font-size: 1.7rem;
    }

    .hero-container p {
        font-size: 0.8rem;
    }

    #aboutBox {
        width: 90vw;
    }

    #aboutMeHeader {
        font-size: 1.3rem;
    }

    .about-text {
        font-size: 0.85rem;
    }

    .skills-container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    #projects-box {
        max-height: 65vh;
        width: 85%;
        position: relative;
        margin-left: 100px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
    }

    .projects-title {
        font-size: 1.5rem;
    }

    .project-box p {
        font-size: 0.8rem;
    }

    .project-box a {
        font-size: 0.7rem;
    }

    .status {
        width: 100vw;
        position: relative;
        left: 0;
        border-left: 7px solid #6428fc;
        border-right: 7px solid #6428fc;
    }

    .gallery-outter {
        height: 200px;
    }

    .gallery {
        width: 200px;
        height: 120px;
    }

    .gallery span {
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(280px);
    }

    .testimonials-container {
        max-height: 70vh;
    }

    .testimonials-container-inner {
        width: 90vw;
    }

    .testimonial {
        font-size: 0.9rem;
    }

    .testimonial div {
        width: 100%;
    }

    .testimonial img {
        float: right;
        width: 90px;
        height: 90px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

}

body::-webkit-scrollbar,
#status-container::-webkit-scrollbar,
#projects-box::-webkit-scrollbar,
.gallery-container-inner::-webkit-scrollbar,
.testimonials-container-inner::-webkit-scrollbar {
    width: 0.1em;
}

body::-webkit-scrollbar-thumb,
#status-container::-webkit-scrollbar-thumb,
#projects-box::-webkit-scrollbar-thumb,
.gallery-container-inner::-webkit-scrollbar-thumb,
.testimonials-container-inner::-webkit-scrollbar-thumb {
    background-color: transparent;
}


#back-to-top-button {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 60px;
    background-color: #f200ff;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

#back-to-top-button:hover {
    background-color: #f200ff9f;
}

@keyframes floatingRotating {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0);
    }
}


@keyframes floatingBouncing {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes floatingSign {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotateY(720deg);
    }

    30% {
        transform: rotate(10deg);
    }

    45% {
        transform: rotate(-10deg);
    }


    60% {
        transform: scale(0.1);
    }

    80%,
    100% {
        transform: scale(1);
    }
}