* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 30px;
    text-align: justify;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #333;
}

.social-link {
    color: #011224;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: aliceblue;
    color: #333;
    font-family: 'Mooli', sans-serif;
}


ul {
    list-style-type: none;
}


header {
    background-color: black;
    color: aliceblue;
    padding: 1.2rem 0;
}

nav ul {
    list-style: none;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-right: 1.3rem;
}

.nav-item {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-item:hover {
    color: blueviolet;
}

.menu-toggle-button {
    display: none;
}

#hero {
    background-image: url('../images/background-image.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 7rem 0;
}


.hero-content h1 {
    color: rgba(7, 7, 61, 0.9);
}

.hero-content {
    max-width: 800px;
    margin: auto 1rem;
    color: rgba(4, 4, 56, 0.9);
    font-weight: bold;
}

#cta-button {
    display: inline-block;
    margin-top: 2.5rem;
    padding: 0.6rem 1.2rem;
    background-color: rgb(24, 24, 145);
    color: rgb(216, 228, 238);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

#cta-button:hover {
    background-color: rgb(23, 23, 82);
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
}

#about-box {
    transform: rotate(-3deg);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    padding-bottom: 7rem;
    margin-bottom: 7rem;
}

#aboutme-header {
    font-size: 3rem;
}

#subscription {
    width: fit-content;
    display: block;
    position: absolute;
    right: 50px;
    bottom: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

.container h2 {
    color: rgba(7, 7, 61, 0.9);
}

@keyframes floatingRotating {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes floatingBouncing {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes floatingSign {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotateY(720deg);
    }

    30% {
        transform: rotate(10deg);
    }

    45% {
        transform: rotate(-10deg);
    }


    60% {
        transform: scale(0.1);
    }

    80% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

#skills {
    display: flex;
    flex-direction: column;
}

.sign-container {
    width: 100%;
    height: 300px;
    background-image: url('../images/sign.png');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

#skills-box {
    width: 90vw;
    background-color: rgba(218, 236, 251, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 10px 20px rgba(0, 0, 0, 0.15),
        0 10px 20px rgba(0, 0, 150, 0.15);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    opacity: 0.9;
    align-items: center;

}

#skills-list {
    color: rgb(27, 31, 1);
    line-height: 40px;
    padding: 2px;
    padding-top: 15px;
    width: fit-content;
    text-align: left;
}

#projects {
    display: flex;
    flex-direction: column;
}

.project {
    margin-top: 30px;
    padding: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 255, 0.1);
    border-radius: 30px;
}

#status-container {
    border-radius: 15px;
    /* overflow: scroll; */
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-image: url("../images/aaron_drillbotics.jpg");
    background-size: cover;
    background-position: center;
}

.status-title {
    color: rgb(7, 7, 206);
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}

.status-inner-container {
    padding: 3rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.88);
    color: rgba(240, 248, 255, 0.477);
    font-weight: lighter;
}

.status span a {
    color: #0056b3;
}

#statusButton {
    display: block;
}


#projects-box {
    max-height: 100vh;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    animation: floatingBouncing 2s infinite;
    position: relative;
    padding-top: 0;
}

.sign-container {
    height: 40vw;
    background-image: url('../images/sign.png');
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    color: whitesmoke;
    font-size: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#status-container::-webkit-scrollbar,
#projects-box::-webkit-scrollbar,
.gallery-container::-webkit-scrollbar {
    width: 0.1em;
}

#status-container::-webkit-scrollbar-thumb,
#projects-box::-webkit-scrollbar-thumb,
.gallery-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

@media (min-width: 768px) {
    #skills {
        flex-direction: row;
    }

    #skills-box {
        width: 40vw;
        margin-right: 60px;
        display: flex;
        flex-direction: column;
        text-align: center;
        animation: floatingRotating 2s infinite;
    }


    #projects {
        flex-direction: row;
    }

    #projects-box {
        margin-top: 200px;
        width: 40vw;
        max-height: 100vh;
        margin-left: 60px;
        z-index: 1;
        position: relative;
    }

    #status-container {
        width: 0;
        left: 520px;
        margin-top: 250px;
        position: absolute;
        width: 45vw;
        max-height: 90vh;
        margin-top: 250px;
        border-right: 7px ridge rgb(3, 3, 44);
        margin-top: 250px;

    }

    .sign-container {
        width: 25vw;
        height: 25vw;
        margin-left: 100px;
        margin-top: 120px;
        border-radius: 20px;
    }

}

.projects-title {
    font-size: 2rem;
    padding-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sign-text {
    animation: floatingSign 8s infinite;
}

.project h3 {
    color: #090b0c;
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left;
}

.project p {
    font-size: 16px;
    color: #555;
}

.project-button {
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    border: none;
}

.project-button a {
    display: block;
    padding: 10px 20px;
    background-color: #6428fc;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.4s ease;
}

.project-button a:hover {
    background-color: #381f78;
}

#more-info {
    background-image: url('../images/cover_image.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(50, 100, 0, 0.8);

}


#more-info h2 {
    position: absolute;
    left: 3rem;
    margin-top: 1rem;
    font-size: xx-large;
    color: rgb(223, 240, 255);
    font-weight: bolder;
}

#more-info span {
    font-style: italic;
}

#gallery {
    margin-top: 6em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(232, 238, 244);
}

#gallery h2 {
    margin-top: 0.5em;
    font-size: 2rem;
    margin-bottom: 1em;
    text-align: center;
    z-index: 1;
    top: 0;
    text-shadow: 0px 1px 4px blueviolet;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 2em;
    margin-left: 1em;
    max-height: 87vh;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.gallery-item:hover {
    transform: scale(1.1);
}

.gallery-item {
    max-width: 17em;
    max-height: 17em;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    box-sizing: border-box;
    box-shadow: 2px 0px 5px rgb(137, 43, 226);
    transition: transform 0.3s ease-in-out;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

#testimonials-box {
    margin: 3rem;
    margin-top: 4rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: #f5f5f5a0;
    font-size: medium;
    border-radius: 15px;
    padding: 4rem;
    padding-top: 1rem;
    transition: background-color 0.3s ease;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#testimonials-box::-webkit-scrollbar {
    width: 0.1em;
}

#testimonials-box::-webkit-scrollbar-thumb {
    background-color: transparent;
}

#testimonials-box:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.testimonial {
    margin-top: 1.5rem;
    padding: 1px;
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
    box-shadow: 8px 2px rgba(0, 0, 0, 0.3);
}

.testimonial div {
    width: 75%;
}

.testimonial div h3 {
    margin-top: 1rem;
    color: rgb(208, 223, 236);
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.88);
}

.testimonial img {
    border-radius: 50%;
    margin-bottom: 1rem;
    margin-left: 1rem;
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.88);
}


#contact-container {
    min-width: 70vw;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 10px 20px rgba(0, 0, 0, 0.15),
        0 20px 40px rgba(0, 0, 255, 0.15);
    backdrop-filter: blur(10px);
    opacity: 0.9;
}

/* Styling for the footer */
footer {
    display: flex;
    justify-content: center;
    background-color: #121010;
    color: #fff;
    padding: 20px 0;
    font-size: 0.9rem;
}


/* Media queries for responsiveness */
@media (max-width: 768px) {

    header {
        text-align: center;
    }

    nav ul {
        text-align: center;
        margin-top: 10px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    #hero {
        padding: 80px 0;
    }

    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1rem;
    }

    .testimonial {
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
    }

    .testimonial img {
        margin-top: 1rem;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.88);

    }

    #testimonials-box {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        padding-left: 0px;
        padding-right: 0px;
    }

}


.navbar {
    display: flex;
    justify-content: flex-end;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    margin: 0 20px;
}

@media screen and (max-width: 768px) {
    .contact-list {
        width: fit-content;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #fff;
        border: 1px solid #ddd;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .navbar-menu.active {
        display: flex;
        right: 0;
        top: 75px;
        border-bottom-left-radius: 10px;
        background-color: rgba(0, 0, 0, 0.8);
        border: 2px inset rgb(4, 4, 45);
    }

    .navbar-menu li {
        margin: 10px;
    }

    .menu-toggle-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
    }

    .menu-icon::before,
    .menu-icon::after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        background-color: #333;
        margin: 4px 0;
    }

    .menu-toggle.active .menu-icon::before {
        transform: rotate(45deg) translate(5px, 6px);
    }

    .menu-toggle.active .menu-icon::after {
        transform: rotate(-45deg) translate(5px, -6px);
    }
}



#contact {
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
}

.contact-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.contact-list li {
    text-align: center;
    margin: 10px;
    font-size: 12px;
}

.external-link {
    color: #007bff;
    text-decoration: underline;
}

.contact-list i {
    font-size: 32px;
    margin-bottom: 5px;
    color: #007bff;
}

.contact-list span {
    display: block;
}

#back-to-top-button {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 60px;
    background-color: #f200ff;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}


.image-modal,
.info-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.95);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal-content {
    max-width: 95%;
    max-height: 95%;
    display: block;
    border-radius: 5px;
}

.info-modal-content {
    background-color: aliceblue;
    padding: 2.5em;
    border-radius: 1em;
}

.info-modal-content h3 {
    border-bottom: 1px solid gray;
    margin-bottom: 1em;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#back-to-top-button:hover {
    background-color: #f200ff9f;
}