* {
    font-family: 'Mooli', sans-serif;
    scroll-behavior: smooth;
}

html {
    scroll-padding-top: 100px;
    width: 100vw;

}

main {
    width: 100vw;
}

.offcanvas {
    background-color: aliceblue;
}

.navbar-brand {
    color: aliceblue;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(150, 150, 170, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

body {
    background-color: aliceblue;
    width: 100vw;
}

a {
    text-decoration: none;
}

.justify-text {
    text-align: justify;
}

.hero-container {
    background-image: url('../images/background-image.jpg');
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.hero-container p,
.hero-container h1 {
    color: rgba(7, 7, 61, 0.9);
    font-weight: 600;
}

.cta-button {
    width: fit-content;
    background-color: rgb(220, 46, 220);
    border: none;
    color: aliceblue;
}

.cta-button:hover {
    background-color: transparent;
    border: 1px solid rgb(233, 79, 233);
}

#aboutBox {
    transform: rotate(-3deg);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    text-align: justify;
    width: 60vw;
    color: rgba(7, 7, 61, 0.9);
}

#aboutMeHeader {
    font-size: 2.5rem;
    color: rgba(7, 7, 61, 0.9);
    font-weight: 700;
}

.about-text {
    font-size: 20px;
}

.about-text a {
    text-decoration: underline;
}

.sign-container-inner {
    background-image: url('../images/sign.png');
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    font-size: 4rem;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    min-height: 200px;
    max-height: 300px;
    max-width: 300px;
}

.sign-text {
    animation: floatingSign 8s infinite;
}

.skills-container-inner {
    width: 90vw;
    background-color: rgba(218, 236, 251, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 10px 20px rgba(0, 0, 0, 0.15),
        0 10px 20px rgba(0, 0, 150, 0.15);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    opacity: 0.9;
    align-items: center;
    animation: floatingRotating 2s infinite;
}

.skills-container-inner {
    width: 85%;
}

#skills-list {
    color: rgb(27, 31, 1);
    line-height: 40px;
    list-style: none;
}


#projects-box {
    max-height: 95vh;
    width: 40vw;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    animation: floatingBouncing 2s infinite;
    position: relative;
    box-shadow: 1px 3px 4px rgb(238, 1, 238, 0.3);
    z-index: 1;
    right: 26vw;
}

.project-box {
    box-shadow: 0px 3px 10px rgba(0, 0, 255, 0.1);
    border-radius: 10px;
}

.projects-title {
    font-size: 2.3rem;
    position: sticky;
    z-index: 1;
    top: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.project-btn {
    color: aliceblue;
    background-color: #6428fc;
    width: fit-content;
}


.project-btn:hover {
    background-color: transparent;
    border: 1px solid rgb(233, 79, 233);
}

.status {
    width: 40vw;
    border-radius: 15px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-image: url("../images/aaron_drillbotics.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 43vw;
    margin-top: 70px;
    border-right: 7px solid #6428fc;
}

.status-container-inner {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.80);
    color: rgba(240, 248, 255, 0.477);
    font-weight: lighter;
}

.status-title {
    color: #6428fc;
    font-weight: 600;
}

.gallery-container-inner {
    background-color: rgb(212, 231, 248);
    border: 2px solid rgb(237, 230, 230);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 2em;
    margin-left: 1em;
    max-height: 85vh;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.gallery-arrow {
    color: black;
    font-size: 2rem;
}

.gallery-item {
    max-width: 300px;
    width: auto;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    margin: 1px;
    box-sizing: border-box;
    box-shadow: 2px 0px 5px rgb(137, 43, 226);
    transition: transform 0.3s ease-in-out;
}

.gallery-item:hover {
    transform: scale(1.1);
}

.testimonials-container {
    background-image: url('../images/cover_image.jpg');
    background-size: cover;
    background-position: center;
    max-height: 80vh;
    box-shadow: 0px 0px 10px rgba(50, 100, 0, 0.8);
    width: 100vw;
}

.testimonials-container-inner {
    background-color: rgba(0, 0, 0, 0.7);
    color: #f5f5f5a0;
    font-size: medium;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.testimonials-container-inner:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.testimonial {
    box-shadow: 8px 2px rgba(0, 0, 0, 0.3);
}

.testimonial div {
    width: 75%;
}


.testimonial div div {
    color: aqua;
}

.testimonial div h3 {
    color: rgb(208, 223, 236);
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.88);
}

.testimonial img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.88);
}

.footer {
    color: aliceblue;
}

#contact-container {
    box-shadow: 0px 3px 10px rgba(0, 0, 255, 0.1);
}

.contact-list {
    list-style: none;
    gap: 20px;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .hero-container {
        height: 37vh;
    }

    #aboutBox {
        width: 80vw;
    }

    .skills-container-inner {
        width: 100%;
    }

    #projects-box {
        width: 45vw;
        max-height: 75vh;
    }

    .testimonials-container {
        max-height: 60vh;
    }


    .status {
        right: 15vw;
    }
}

@media (max-width: 767px) {
    .hero-container {
        height: 25vh;
    }

    #aboutBox {
        width: 90vw;
    }

    .skills-container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    #projects-box {
        max-height: 65vh;
        width: 95%;

    }

    #projects-box {
        position: relative;
        left: 0;
        right: 0;
    }

    .status {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 90vw;
        position: relative;
        left: -5px;
        border-right: 7px solid #6428fc;
    }

    .testimonials-container {
        max-height: 70vh;
    }

    .testimonial div {
        width: 100%;
    }

    .testimonial img {
        float: right;
        margin-left: 20px;
        margin-bottom: 20px;
    }

}

body::-webkit-scrollbar,
#status-container::-webkit-scrollbar,
#projects-box::-webkit-scrollbar,
.gallery-container-inner::-webkit-scrollbar,
.testimonials-container-inner::-webkit-scrollbar {
    width: 0.1em;
}

body::-webkit-scrollbar-thumb,
#status-container::-webkit-scrollbar-thumb,
#projects-box::-webkit-scrollbar-thumb,
.gallery-container-inner::-webkit-scrollbar-thumb,
.testimonials-container-inner::-webkit-scrollbar-thumb {
    background-color: transparent;
}


#back-to-top-button {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 60px;
    background-color: #f200ff;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

#back-to-top-button:hover {
    background-color: #f200ff9f;
}

@keyframes floatingRotating {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0);
    }
}


@keyframes floatingBouncing {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes floatingSign {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotateY(720deg);
    }

    30% {
        transform: rotate(10deg);
    }

    45% {
        transform: rotate(-10deg);
    }


    60% {
        transform: scale(0.1);
    }

    80%,
    100% {
        transform: scale(1);
    }
}